<div class="card">
    <img src="https://api.genshin.dev/artifacts/@artifact!.cureName(artifact.name)/circlet-of-logos"
        class="card-img-top" alt="artifact icon">
    <div class="card-body">
        <h5 class="card-title">@artifact.Name</h5>
        Rarity: @artifact.Rarity*<br />
        @if (artifact.CheckArtifact(artifact.Name!))
        {
            <p>
                2p: @artifact.Two_piece_bonus<br />
                4p: @artifact.Four_piece_bonus<br />
            </p>
        }
        else
        {
            <p>
                1p: @artifact.One_piece_bonus<br />
            </p>
        }
    </div>
</div>

@code {
    [Parameter]
    public Artifact? artifact { get; set; }
}
