<div class="card">
    <div class="flexbox">
        <img src="https://api.genshin.dev/characters/@character!.cureName(character.name, character.Vision)/@character.CheckTraveler(character.Name)"
            class="card-img-top" alt="@character.Name image card">
        <div>
            <p>
                Name: @character.Name<br />
                Title: @character.Title<br />
                Vision: @character.Vision<br />
                Weapon: @character.Weapon<br />
                Nation: @character.Nation<br />
                Affiliation: @character.Affiliation<br />
                Rarity: @character.Rarity*<br />
                Constellation: @character.Constellation<br />
                Birthday: @character.CureBirthday(character.Birthday!)<br />
                @character.Description
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Character? character { get; set; }
}
