<div class="card">
    <img src="https://api.genshin.dev/weapons/@weapon!.CureName(weapon.Name)/icon" class="card-img-top"
        alt="weapon icon">
    <div class="card-body">
        <h5 class="card-title">@weapon.Name</h5>
        <p>
            Type: @weapon.Type<br />
            Rarity: @weapon.Rarity*<br />
            Base Attack: @weapon.BaseAttack<br />
            Substat: @weapon.SubStat<br />
            location: @weapon.Location<br />
            Ascension Material: @weapon.AscensionMaterial<br />
            Passive: @weapon.PassiveName<br />
            @weapon.PassiveDesc
        </p>
    </div>
</div>

@code {
    [Parameter]
    public Weapon? weapon { get; set; }
}
